<div class="task_container">
  <p class="task_show_name"><span>task_name:</span><%= @task.name %></p>
  <p class="task_show_memo"><span>memo:</span><%= @task.memo %></p>
  <p><%= link_to "topへ戻る", root_path %></p>
</div>