.header { 
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1.75;
}

.header > .logo {
  font-size: 3.2rem;
}

.header > .user_name { 
  font-size: 2.4rem;
}

.nav_body {
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  
}


.nav_body > .nav_item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0px;
  }
}