// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.task_card {
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;
}

.task_container {
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.form_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.form_card > .form_label{
  font-size: 1.8rem;
  line-height: 1.75;
}

.form_card > .form_field{
  width: 200px;
  font-size: 2.4rem;
}

.form_selecter{
  margin-bottom: 10px;
}